<section class="my-4">
  <div class="mb-4 text-gray-900">
    <p>
      This is the frontpage, where you can see all the discussions happening everywhere.
    </p>
  </div>
  <.live_component
    module={AshWeb.Components.TimelineComponent}
    id="main-component"
    posts={@streams.discussions}
    current_user={@current_user}
  />
</section>
