<section class="my-4">
  <.live_component
    module={AshWeb.UserPageLive.UserTimelineComponent}
    id="main-component"
    discussions={@streams.discussions}
    current_user={@current_user}
  />
</section>
